<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    
    <body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Faculty Name</th>
                </tr>
            </thead>
            <tbody>
                <% facultyList.forEach(function(faculty){ %>
                    <tr>
                        <td><%= faculty.name %></td>
                        <td><a href="/update/faculty/<%=faculty._id%>" class="btn btn-warning">Update</a></td>
                    </tr>
                <% }); %>
            </tbody>
            <!--div class="list-group">
                <% facultyList.forEach(function(faculty){ %>
                <a href="/faculty/<%= faculty._id %>" class="list-group-item list-group-item-action"><%= faculty.name %></a>
                <% }); %>
            </div-->
        </table>
    </body>
</html>